body
{
    background-color:#E0FFFF;
}
h1
{
    color:#483D8B;
}
h3
{
    color:#483D8B;
}
hr
{
    border-style: none;
    border-top-style: dotted;
    border-color:grey;
    border-width:5px;
    width:5%;
}
